.lista-conv {
  overflow-y: scroll;
  height: calc(100vh - 100px);
}

.secao-arquivados {
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  color: #555;
  border-bottom: 1px solid #eee;
}

.secao-arquivados span {
  font-style: italic;
}

.icone-arquivo {
  margin-right: 10px;
  font-size: 1.2rem;
}
