.cont-nav-rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Garante que o footer fique acima de outros elementos */
}

.item-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  color: #555;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px;
  border-radius: 5px;
}

.item-nav:hover {
  background-color: #f0f0f0;
}

.item-nav.ativo {
  color: #ffb938;
  font-weight: bold;
}

.item-nav.ativo .icone-nav {
  color: #ffb938;
}

.icone-nav {
  font-size: 24px;
  margin-bottom: 5px;
  position: relative;
}

.indicador-nao-lido {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: #ffb938;
  color: #fff;
  border-radius: 50%;
  padding: 1px 4px;
  font-size: 0.6em;
  font-weight: bold;
}
