.pag-meu {
  padding: 0;
  background-color: #f0f0f0;
  cursor: pointer;
}


.item-nota {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.icone-nota {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  color: white;
  font-size: 24px;
}

.conteudo-nota {
  flex: 1;
}

.titulo-nota {
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitulo-nota {
  font-size: 0.9em;
  color: #666;
}

.hora-nota {
  color: #888;
  font-size: 0.8em;
}
