.pag-notas-conv {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e5ddd5;
}

.cabecalho-notas-conv {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 1.2em;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cabecalho-notas-conv .icone-voltar {
  font-size: 1.5em;
  margin-right: 15px;
  cursor: pointer;
}

.cabecalho-notas-conv .titulo-cabecalho {
  font-weight: bold;
}

.msgs-notas-conv {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.msg-nota {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  width: 100%;
  align-items: center;
}

.bolha-msg {
  background-color: #ffe082;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 70%;
  position: relative;
  font-size: 0.9em;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  text-align: left;
  transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.bolha-msg:hover {
  background-color: #ffd700; /* Cor mais escura ao passar o mouse */
}

.hora-msg {
  font-size: 0.7em;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  align-self: flex-end;
  display: inline-block;
  margin-top: 5px;
}

.icone-deletar {
  font-size: 1.2em;
  color: #999;
  margin-left: 10px;
  cursor: pointer;
}

.area-input-notas-conv {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
  position: sticky;
  bottom: 0;
  z-index: 1000;
}

.area-input-notas-conv .icone-add,
.area-input-notas-conv .icone-copiar,
.area-input-notas-conv .icone-enviar {
  font-size: 1.8em;
  color: #666;
  margin: 0 8px;
  cursor: pointer;
}

.area-input-notas-conv input {
  flex-grow: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: white;
  font-size: 1em;
  outline: none;
}
