.cont-abas {
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 10px;
  background-color: #fff;
  gap: 10px;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.aba {
  flex-shrink: 0;
  padding: 8px 20px;
  border: none;
  border-radius: 25px;
  background-color: #eee;
  color: #555;
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
  transition: background-color 0.3s ease;
}

.aba:hover {
  background-color: #dcdcdc;
}

.aba.ativo {
  background-color: #ffb938;
  color: #000;
  font-weight: bold;
}

.aba-add {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: #eee;
  color: #000;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
