.tabs-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 10px; /* Ajuste o padding */
  background-color: #fff; /* Fundo branco */

  gap: 10px; /* Adiciona espaçamento entre os itens */
  /* Oculta a barra de rolagem para navegadores Webkit */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Oculta a barra de rolagem para outros navegadores */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.tab {
  flex-shrink: 0;
  /* margin-right: 10px; Removido, usando gap no contêiner */
  padding: 8px 20px; /* Ajuste o padding para cantos mais arredondados */
  border: none;
  border-radius: 25px; /* Cantos mais arredondados */
  background-color: #eee; /* Fundo cinza claro */
  color: #555; /* Texto cinza escuro */
  cursor: pointer;
  font-size: 1em;
  font-weight: normal; /* Remover negrito padrão */
  transition: background-color 0.3s ease; /* Adiciona transição suave para o hover */
}

.tab:hover {
  background-color: #dcdcdc; /* Cor de fundo cinza um pouco mais escuro no hover */
}

.tab.active {
  background-color: #ffb938; /* Laranja vibrante */
  color: #000; /* Texto preto */
  font-weight: bold;
}

.tab-add {
  flex-shrink: 0;
  width: 35px; /* Ajuste o tamanho */
  height: 35px; /* Ajuste o tamanho */
  border: none;
  border-radius: 50%;
  background-color: #eee; /* Fundo cinza claro */
  color: #000; /* Sinal de mais preto */
  cursor: pointer;
  font-size: 24px; /* Ajuste o tamanho do sinal de mais */
  /* margin-left: auto; Removido para alinhar com os outros botões */
  display: flex;
  justify-content: center;
  align-items: center;
}
